body {
    font-family: sans-serif;
}

.total {
    width: 100%;
    text-align: center;
    color: #CCC;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
