body {
    font-family: sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 1rem auto;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 1rem 4rem;
    transform: translate(-50%, -50%);
}

.message {
    height: 100%;
    margin: auto;
    color: #333;
    font-size: xx-large;
    text-align: center;
}

.total {
    width: 100%;
    text-align: center;
    color: #CCC;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
