body {
    font-family: sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.message {
    height: 100%;
    margin: auto;
    color: #333;
    font-size: xx-large;
    text-align: center;
}

.total {
    width: 100%;
    text-align: center;
    color: #CCC;
    animation: slide-up 0.5s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
